__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
.venv
env/
venv/
db.sqlite3
*.sqlite3
.DS_Store
Thumbs.db
*.log
media/
staticfiles/
.idea/
.vscode/
*.swp
*.swo
node_modules/
